@tailwind base;
@tailwind components;
@tailwind utilities;

/* .ais-Hits-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.ais-Hits-item {
  padding: 16px;
} */
/* @layer components {
  .ais-Hits-list {
    @apply
    flex
    flex-row
    flex-wrap
  }
  
} */

/* @layer base {
  ul {
    @apply flex
    flex-row
    flex-wrap;
  }
  li {
    @apply min-w-1/5 max-w-1/5 w-1/5;
  }
} */

@layer base {
  ul {
    @apply grid
    sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5
    gap-3;
  }
}

/* body {
  font-family: sans-serif;
}

.ais-SearchBox {
  margin: 1em 0;
}

.ais-Pagination {
  margin-top: 1em;
}

.ais-InstantSearch {
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
}

.ais-InfiniteHits-item {
  margin-bottom: 1em;
  width: calc(50% - 1rem);
}

.ais-InfiniteHits-sentinel {
  width: 100%;
}

.ais-InfiniteHits-item img {
  margin-right: 1em;
}

.hit-name {
  margin-bottom: 0.5em;
}

.hit-description {
  color: #888;
  font-size: 14px;
  margin-bottom: 0.5em;
}
.ais-GeoSearch {
  position: relative;
}

.ais-GeoSearch-map {
  height: calc(100vh - 64px);
  width: 100%;
}

.swiper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;
}

.swiper-slide img {
  width: auto;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
} */
div.ais-RefinementList > ul {
  display: block;
}
ul.MuiList-root {
  display: block;
}

ul.ais-InfiniteHits-list {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  display: grid;
}

ul.ais-Hits-list {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  display: grid;
}

/**
   * Hits
   */
.ais-Hits-item,
.ais-InfiniteHits-item {
  -webkit-box-align: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  background: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  display: inherit;
  display: inherit;
  display: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: inherit;
}

.ais-Hits-item:first-of-type,
.ais-InfiniteHits-item:first-of-type {
  border-radius: inherit;
}

.ais-Hits-item:last-of-type,
.ais-InfiniteHits-item:last-of-type {
  border-radius: inherit;
}

.ais-Hits-item:only-of-type,
.ais-InfiniteHits-item:only-of-type {
  border-radius: inherit;
}

/**
   * Highlighting and Snippeting
   */
.ais-Highlight-highlighted,
.ais-Snippet-highlighted {
  background-color: yellow;
  color: #000;
  font-style: normal;
}
.ais-HierarchicalMenu-count,
.ais-Menu-count,
.ais-RatingMenu-count,
.ais-RefinementList-count,
.ais-ToggleRefinement-count {
  background: #f5f5fa none repeat scroll 0 0;
  border: 1px solid #b6b7d5;
  border-radius: 99999px;
  color: #23263b;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  margin-left: 0.5rem;
  overflow: hidden;
  padding: 0 0.25rem;
  margin: 0px 0px 0px auto;
}

.mapboxgl-popup-content {
  padding: 0 !important;
}
.mapboxgl-popup-close-button {
  padding-top: 4px !important;
  padding-right: 8px !important;
  font-size: 1.875rem !important;
  line-height: 2.25rem !important;
  font-weight: 900 !important;
}

/* .mapboxgl-popup-close-button {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    background-color: transparent;
  } */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  color: white;
  font-weight: 900;
  font-size: xx-large;
}

/* .DefaultProgressBar__vertical {
  width: 24px;
  height: 100%;
}
.DefaultProgressBar_progressBar {
  background-color: #abc4e8;
  position: absolute;
}
.DefaultProgressBar_progressBar__vertical {
  height: 100%;
  width: 24px;
}
.DefaultProgressBar_background__vertical {
  height: 100%;
  top: 0px;
  width: 15px;
}
.DefaultProgressBar_background__horizontal {
  height: 13px;
  top: 0px;
}
.DefaultHandle_handle {
  width: 24px;
  height: 24px;
  border-width: 1px;
  border-style: solid;
  border-color: #d8d8d8;
  background-color: #fcfcfc;
  border-radius: 20%;
  outline: none;
  z-index: 2;
  box-shadow: 0 2px 2px #dbdbdb;
}
.DefaultHandle_handle:focus {
  box-shadow: #abc4e8 0 0 1px 1px;
}
.DefaultHandle_handle:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #dadfe8;
}
.DefaultHandle_handle:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #dadfe8;
}
.DefaultHandle_handle__horizontal {
  margin-left: -12px;
  top: -5px;
}
.DefaultHandle_handle__horizontal:before {
  top: 7px;
  height: 10px;
  width: 1px;
  left: 10px;
}
.DefaultHandle_handle__horizontal:after {
  top: 7px;
  height: 10px;
  width: 1px;
  left: 13px;
}
.DefaultHandle_handle__vertical {
  margin-top: -12px;
  left: -10px;
}
.DefaultHandle_handle__vertical:before {
  top: 10px;
}
.DefaultHandle_handle__vertical:after {
  top: 13px;
  left: 8px;
  height: 1px;
  width: 10px;
}
.DefaultHandle_handle__disabled {
  border-color: #dbdbdb;
}
.DefaultBackground {
  background-color: #fcfcfc;
  height: 15px;
  width: 100%;
  border: 1px solid #d8d8d8;
  position: relative;
}
.DefaultBackground_background__horizontal {
  height: 15px;
  top: -2px;
  left: -2px;
  bottom: 4px;
  width: 100%;
}
.DefaultBackground_background__vertical {
  width: 15px;
  top: 0px;
  height: 100%;
}
.rheostat {
  position: relative;
  overflow: visible;
}
@media (min-width: 1128px) {
  .autoAdjustVerticalPosition {
    top: 12px;
  }
}
.rheostat__vertical {
  height: 100%;
}
.handleContainer {
  height: 15px;
  top: -2px;
  left: -2px;
  bottom: 4px;
  width: 100%;
  position: absolute;
}
.rheostat_background {
  background-color: #fcfcfc;
  border: 1px solid #d8d8d8;
  position: relative;
}
.rheostat_background__horizontal {
  height: 15px;
  top: -2px;
  left: -2px;
  bottom: 4px;
  width: 100%;
}
.rheostat_background__vertical {
  width: 15px;
  top: 0px;
  height: 100%;
} */
